In [4]:
import pandas as pd
import numpy as np
# Prevent future/deprecation warnings from showing in output
import warnings
warnings.filterwarnings(action='ignore')

import sklearn
from sklearn.naive_bayes import BernoulliNB
from sklearn.naive_bayes import GaussianNB
from sklearn.naive_bayes import MultinomialNB
from sklearn import metrics
from sklearn.metrics import accuracy_score
from sklearn.feature_extraction.text import CountVectorizer

# Load the dataset
df = pd.read_csv('C:\\Users\\User\\Desktop\\bbc_news_mixed.csv')
df.head()

                                                text     label
0  Cairn shares slump on oil setback\n\nShares in...  business
1  Egypt to sell off state-owned bank\n\nThe Egyp...  business
2  Cairn shares up on new oil find\n\nShares in C...  business
3  Low-cost airlines hit Eurotunnel\n\nChannel Tu...  business
4  Parmalat to return to stockmarket\n\nParmalat,...  business

# Remove Blank Records

In [5]:
# REMOVE NaN VALUES AND EMPTY STRINGS:
df.dropna(inplace=True)

blanks = []  # start with an empty list

for i,lb,rv in df.itertuples():  # iterate over the DataFrame
    if type(rv)==str:            # avoid NaN values
        if rv.isspace():         # test 'review' for whitespace
            blanks.append(i)     # add matching index numbers to the list

df.drop(blanks, inplace=True)

In [6]:
df['label'].value_counts()

sport            511
business         510
politics         417
tech             401
entertainment    386
Name: label, dtype: int64

# Sentiment Scoring

In [8]:
import nltk
nltk.downloader.download('vader_lexicon')
from nltk.sentiment.vader import SentimentIntensityAnalyzer

sid = SentimentIntensityAnalyzer()

[nltk_data] Downloading package vader_lexicon to C:\Program Files
[nltk_data]     (x86)\Microsoft Visual
[nltk_data]     Studio\Shared\Anaconda3_64\nltk_data...

In [11]:
df['scores'] = df['text'].apply(lambda review: sid.polarity_scores(review))

df['compound']  = df['scores'].apply(lambda score_dict: score_dict['compound'])

df['comp_score'] = df['compound'].apply(lambda c: 'pos' if c >=0 else 'neg')

df.head()

,text,label,scores,compound,comp_score
0,Cairn shares slump on oil setback\n\nShares in...,business,"{'neg': 0.034, 'neu': 0.845, 'pos': 0.121, 'co...",0.9902,pos
1,Egypt to sell off state-owned bank\n\nThe Egyp...,business,"{'neg': 0.021, 'neu': 0.919, 'pos': 0.06, 'com...",0.8399,pos
2,Cairn shares up on new oil find\n\nShares in C...,business,"{'neg': 0.054, 'neu': 0.838, 'pos': 0.109, 'co...",0.8769,pos
3,Low-cost airlines hit Eurotunnel\n\nChannel Tu...,business,"{'neg': 0.032, 'neu': 0.938, 'pos': 0.03, 'com...",-0.1154,neg
4,"Parmalat to return to stockmarket\n\nParmalat,...",business,"{'neg': 0.058, 'neu': 0.839, 'pos': 0.103, 'co...",0.8750,pos

In [12]:
export_csv = df.to_csv (r'C:\\Users\\User\\Desktop\\HW5_export_dataframe.csv', index = None, header=True) #Don't forget to add '.csv' at the end of the path

print (df)

                                                   text     label  \
0     Cairn shares slump on oil setback\n\nShares in...  business
1     Egypt to sell off state-owned bank\n\nThe Egyp...  business
2     Cairn shares up on new oil find\n\nShares in C...  business
3     Low-cost airlines hit Eurotunnel\n\nChannel Tu...  business
4     Parmalat to return to stockmarket\n\nParmalat,...  business
5     Making your office work for you\n\nOur mission...  business
6     Mexican in US send $16bn home\n\nMexican labou...  business
7     Asia shares defy post-quake gloom\n\nIndonesia...  business
8     German bidder in talks with LSE\n\nDeutsche Bo...  business
9     Bank payout to Pinochet victims\n\nA US bank h...  business
10    German economy rebounds\n\nGermany's economy, ...  business
11    Electronics firms eye plasma deal\n\nConsumer ...  business
12    Go-ahead for Balkan oil pipeline\n\nAlbania, B...  business
13    US economy still growing says Fed\n\nMost area...  business
14    Beer giant swallows Russian firm\n\nBrewing gi...  business
15    Kraft cuts snack ads for children\n\nKraft pla...  business
16    Slowdown hits US factory growth\n\nUS industri...  business
17    Virgin Blue shares plummet 20%\n\nShares in Au...  business
18    Bargain calls widen Softbank loss\n\nJapanese ...  business
19    Jobs growth still slow in the US\n\nThe US cre...  business
20    Glazer makes new Man Utd approach\n\nMalcolm G...  business
21    Germany calls for EU reform\n\nGerman Chancell...  business
22    Minister hits out at Yukos sale\n\nRussia's re...  business
23    Nasdaq planning $100m share sale\n\nThe owner ...  business
24    Millions 'to lose textile jobs'\n\nMillions of...  business
25    High fuel prices hit BA's profits\n\nBritish A...  business
26    Bat spit drug firm goes to market\n\nA German ...  business
27    Axa Sun Life cuts bonus payments\n\nLife insur...  business
28    Banker loses sexism claim\n\nA former executiv...  business
29    Asian quake hits European shares\n\nShares in ...  business
...                                                 ...       ...
2195  More power to the people says HP\n\nThe digita...      tech
2196  Global digital divide 'narrowing'\n\nThe "digi...      tech
2197  Disney backs Sony DVD technology\n\nA next gen...      tech
2198  BT boosts its broadband packages\n\nBritish Te...      tech
2199  File-swappers ready new network\n\nLegal attac...      tech
2200  Broadband set to revolutionise TV\n\nBT is sta...      tech
2201  'Brainwave' cap controls computer\n\nA team of...      tech
2202  BBC leads interactive Bafta wins\n\nThe BBC an...      tech
2203  IBM puts cash behind Linux push\n\nIBM is spen...      tech
2204  Software watching while you work\n\nSoftware t...      tech
2205  Napster offers rented music to go\n\nMusic dow...      tech
2206  Ban hits Half-Life 2 pirates hard\n\nAbout 20,...      tech
2207  Blog reading explodes in America\n\nAmericans ...      tech
2208  T-Mobile bets on 'pocket office'\n\nT-Mobile h...      tech
2209  Europe backs digital TV lifestyle\n\nHow peopl...      tech
2210  Concern over RFID tags\n\nConsumers are very c...      tech
2211  Gadgets galore on show at fair\n\nThe 2005 Con...      tech
2212  Spam e-mails tempt net shoppers\n\nComputer us...      tech
2213  Dublin hi-tech labs to shut down\n\nDublin's h...      tech
2214  Concerns over Windows ATMs\n\nCash machine net...      tech
2215  Game makers get Xbox 2 sneak peek\n\nMicrosoft...      tech
2216  Net regulation 'still possible'\n\nThe blurrin...      tech
2217  China 'ripe' for media explosion\n\nAsia is se...      tech
2218  Hotspot users gain free net calls\n\nPeople us...      tech
2219  Smart search lets art fans browse\n\nIf you do...      tech
2220  Anti-spam laws bite spammer hard\n\nThe net's ...      tech
2221  China net cafe culture crackdown\n\nChinese au...      tech
2222  Halo 2 heralds traffic explosion\n\nThe growin...      tech
2223  Games 'deserve a place in class'\n\nComputer g...      tech
2224  Latest Opera browser gets vocal\n\nNet browser...      tech

                                                 scores  compound comp_score
0     {'neg': 0.034, 'neu': 0.845, 'pos': 0.121, 'co...    0.9902        pos
1     {'neg': 0.021, 'neu': 0.919, 'pos': 0.06, 'com...    0.8399        pos
2     {'neg': 0.054, 'neu': 0.838, 'pos': 0.109, 'co...    0.8769        pos
3     {'neg': 0.032, 'neu': 0.938, 'pos': 0.03, 'com...   -0.1154        neg
4     {'neg': 0.058, 'neu': 0.839, 'pos': 0.103, 'co...    0.8750        pos
5     {'neg': 0.019, 'neu': 0.882, 'pos': 0.1, 'comp...    0.9964        pos
6     {'neg': 0.021, 'neu': 0.884, 'pos': 0.095, 'co...    0.9260        pos
7     {'neg': 0.122, 'neu': 0.823, 'pos': 0.055, 'co...   -0.9901        neg
8     {'neg': 0.013, 'neu': 0.919, 'pos': 0.068, 'co...    0.9645        pos
9     {'neg': 0.122, 'neu': 0.814, 'pos': 0.064, 'co...   -0.9477        neg
10    {'neg': 0.096, 'neu': 0.806, 'pos': 0.098, 'co...    0.3446        pos
11    {'neg': 0.017, 'neu': 0.889, 'pos': 0.094, 'co...    0.9451        pos
12    {'neg': 0.032, 'neu': 0.859, 'pos': 0.109, 'co...    0.9705        pos
13    {'neg': 0.024, 'neu': 0.832, 'pos': 0.145, 'co...    0.9577        pos
14    {'neg': 0.0, 'neu': 0.963, 'pos': 0.037, 'comp...    0.6705        pos
15    {'neg': 0.033, 'neu': 0.869, 'pos': 0.098, 'co...    0.9217        pos
16    {'neg': 0.041, 'neu': 0.829, 'pos': 0.129, 'co...    0.9491        pos
17    {'neg': 0.095, 'neu': 0.8, 'pos': 0.105, 'comp...    0.5106        pos
18    {'neg': 0.05, 'neu': 0.898, 'pos': 0.052, 'com...    0.1027        pos
19    {'neg': 0.097, 'neu': 0.747, 'pos': 0.156, 'co...    0.9597        pos
20    {'neg': 0.055, 'neu': 0.829, 'pos': 0.117, 'co...    0.9755        pos
21    {'neg': 0.043, 'neu': 0.865, 'pos': 0.092, 'co...    0.9415        pos
22    {'neg': 0.046, 'neu': 0.866, 'pos': 0.088, 'co...    0.9480        pos
23    {'neg': 0.0, 'neu': 0.9, 'pos': 0.1, 'compound...    0.9423        pos
24    {'neg': 0.12, 'neu': 0.803, 'pos': 0.077, 'com...   -0.9810        neg
25    {'neg': 0.04, 'neu': 0.849, 'pos': 0.111, 'com...    0.9826        pos
26    {'neg': 0.043, 'neu': 0.851, 'pos': 0.106, 'co...    0.8338        pos
27    {'neg': 0.116, 'neu': 0.801, 'pos': 0.083, 'co...   -0.5719        neg
28    {'neg': 0.101, 'neu': 0.83, 'pos': 0.068, 'com...   -0.9034        neg
29    {'neg': 0.139, 'neu': 0.788, 'pos': 0.074, 'co...   -0.9910        neg
...                                                 ...       ...        ...
2195  {'neg': 0.012, 'neu': 0.896, 'pos': 0.092, 'co...    0.9945        pos
2196  {'neg': 0.037, 'neu': 0.867, 'pos': 0.097, 'co...    0.9633        pos
2197  {'neg': 0.058, 'neu': 0.873, 'pos': 0.069, 'co...   -0.0644        neg
2198  {'neg': 0.031, 'neu': 0.924, 'pos': 0.045, 'co...    0.4019        pos
2199  {'neg': 0.051, 'neu': 0.87, 'pos': 0.079, 'com...    0.9051        pos
2200  {'neg': 0.007, 'neu': 0.919, 'pos': 0.074, 'co...    0.9894        pos
2201  {'neg': 0.01, 'neu': 0.903, 'pos': 0.087, 'com...    0.9790        pos
2202  {'neg': 0.016, 'neu': 0.763, 'pos': 0.22, 'com...    0.9960        pos
2203  {'neg': 0.013, 'neu': 0.841, 'pos': 0.147, 'co...    0.9869        pos
2204  {'neg': 0.082, 'neu': 0.834, 'pos': 0.084, 'co...   -0.6161        neg
2205  {'neg': 0.031, 'neu': 0.881, 'pos': 0.089, 'co...    0.9762        pos
2206  {'neg': 0.095, 'neu': 0.831, 'pos': 0.074, 'co...   -0.9456        neg
2207  {'neg': 0.0, 'neu': 0.912, 'pos': 0.088, 'comp...    0.9804        pos
2208  {'neg': 0.003, 'neu': 0.944, 'pos': 0.053, 'co...    0.9577        pos
2209  {'neg': 0.019, 'neu': 0.835, 'pos': 0.146, 'co...    0.9944        pos
2210  {'neg': 0.034, 'neu': 0.898, 'pos': 0.068, 'co...    0.8955        pos
2211  {'neg': 0.021, 'neu': 0.842, 'pos': 0.136, 'co...    0.9988        pos
2212  {'neg': 0.149, 'neu': 0.778, 'pos': 0.073, 'co...   -0.9811        neg
2213  {'neg': 0.051, 'neu': 0.87, 'pos': 0.079, 'com...    0.9556        pos
2214  {'neg': 0.051, 'neu': 0.917, 'pos': 0.032, 'co...   -0.8442        neg
2215  {'neg': 0.007, 'neu': 0.898, 'pos': 0.095, 'co...    0.9893        pos
2216  {'neg': 0.029, 'neu': 0.913, 'pos': 0.059, 'co...    0.9318        pos
2217  {'neg': 0.023, 'neu': 0.881, 'pos': 0.096, 'co...    0.9913        pos
2218  {'neg': 0.0, 'neu': 0.851, 'pos': 0.149, 'comp...    0.9907        pos
2219  {'neg': 0.018, 'neu': 0.886, 'pos': 0.096, 'co...    0.9843        pos
2220  {'neg': 0.164, 'neu': 0.78, 'pos': 0.057, 'com...   -0.9910        neg
2221  {'neg': 0.082, 'neu': 0.886, 'pos': 0.032, 'co...   -0.9600        neg
2222  {'neg': 0.031, 'neu': 0.857, 'pos': 0.112, 'co...    0.9744        pos
2223  {'neg': 0.021, 'neu': 0.869, 'pos': 0.11, 'com...    0.9895        pos
2224  {'neg': 0.016, 'neu': 0.91, 'pos': 0.074, 'com...    0.9543        pos

[2225 rows x 5 columns]